#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]

    # ------------
    # Tests to run
    # ------------

    # For special usecases, sometimes you need to setup other things on the machine
    # prior to installing the app (such as installing another app)
    # (Remove this key entirely if not needed)
    preinstall = """
        sudo yunohost tools update apps
        sudo yunohost domain add matrix.domain.tld
        domain=matrix.domain.tld
        server_name=$domain
        sudo yunohost app install https://github.com/YunoHost-Apps/synapse_ynh -a "domain=$domain&init_main_permission=all_users&server_name=$server_name&is_free_registration=false" --force
        botadmin="@johndoe:$server_name"
        botusers="$server_name"
        # We test with mautrix_whatsapp because amd64, arm64 and armhf are available
        #sudo yunohost app list | grep "mautrix_whatsapp" || sudo yunohost app install https://github.com/YunoHost-Apps/mautrix_whatsapp_ynh/tree/testing \
        #    -a "botadmin=$botadmin&botusers=$botusers" --force
        """

    # -------------------------------
    # Default args to use for install
    # -------------------------------

    args.botpassword = "KianG7EAPXORCNWT"
    args.bridge = "mautrix_whatsapp"
    args.botusers = "matrix.domain.tld"
    args.admins = "@johndoe:matrix.domain.tld"

    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------
    
    ## 00a1a6e7 is part of commit SHA, preferrably from 'master' branch
    ## that points to valid install of previous version

    # test_upgrade_from.00a1a6e7.name = "Upgrade from 5.4"
    # test_upgrade_from.00a1a6e7.args.foo = "bar"


# This is an additional test suite
[multiple_bridges]

    preinstall = """
        sudo yunohost tools update apps
        sudo yunohost domain add matrix.domain.tld
        domain=matrix.domain.tld
        server_name=$domain
        sudo yunohost app install https://github.com/YunoHost-Apps/synapse_ynh -a "domain=$domain&init_main_permission=all_users&server_name=$server_name&is_free_registration=false" --force
        botadmin="@johndoe:$server_name"
        botusers="$server_name"
        # We test with mautrix_whatsapp because amd64, arm64 and armhf are available
        #sudo yunohost app list | grep "mautrix_whatsapp" || sudo yunohost app install https://github.com/YunoHost-Apps/mautrix_whatsapp_ynh/tree/testing \
        #    -a "botadmin=$botadmin&botusers=$botusers" --force
        #sudo yunohost app list | grep "mautrix_signal" || sudo yunohost app install https://github.com/YunoHost-Apps/mautrix_signal_ynh/tree/testing \
        #    -a "botadmin=$botadmin&botusers=$botusers" --force
        """

    # On additional tests suites, you can decide to run only specific tests

    only = ["install.subdir"]

    args.botpassword = "KianG7EAPXORCNWT"
    args.bridge = "mautrix_whatsapp,mautrix_signal"
    args.botusers = "matrix.domain.tld"
    args.admins = "@johndoe:matrix.domain.tld"
